<ion-content>

  <ion-item>   
    <ion-input [(ngModel)]="reminder.name" placeholder="Nombre"></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-input type="text-area" [(ngModel)]="reminder.additionalData" placeholder="Descripcion"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Fecha</ion-label>
    <ion-datetime [(ngModel)]="reminder.date" (ionChange)="updateSelectedDate($event)"></ion-datetime>
  </ion-item>

  <ion-button expand="block" fill="outline" (click)="addReminder()">Agregar</ion-button>
  <ion-button expand="block" fill="outline" (click)="CancelReminder()">Cancelar</ion-button>
</ion-content>
 
