<ion-content>

  <ion-item class="datos-titulo">   
    <ion-input [(ngModel)]="reminder.name" placeholder="Nombre"></ion-input>
  </ion-item>
  
  <ion-item class="datos-descripcion">
    <ion-input type="text-area" [(ngModel)]="reminder.additionalData" placeholder="Descripcion"></ion-input>
  </ion-item>

  <div class="calendar">
    <ion-datetime [(ngModel)]="reminder.date" (ionChange)="updateSelectedDate($event)">    
      <span slot="time-label">Horario</span>
    </ion-datetime>
  </div>

  <div class="buttoms-container">
    <ion-button class="agregar" (click)="addReminder()">Agregar</ion-button>
    <ion-button class="cancelar" (click)="CancelReminder()">Cancelar</ion-button>
  </div>  
  
</ion-content>
 
