ion-toolbar {
    display: flex;
    padding-top: 30px;
    padding-left: 15px;
    padding-right: 32px;
    align-items: center;
    font-size: 35px;
}

ion-title {
    font-family: 'Poetsen One', sans-serif;
    font-size: 22px;
}

.formulario {
    padding-top: 40px;
    padding-left: 15px;
    padding-right: 15px;
}

ion-item {
    align-items:last baseline;
    margin-top: 30px;
    padding: 10px;
}

ion-text {
    padding: 15px;
    font-size: 18px;
}

.labelsize {
    font-size: 16px;
}

.buttons {
    --background: var(--ion-color-secondary);
    --border-style: solid; /* Define el estilo del borde */
    --border-width: 1px; /* Define el ancho del borde */
    --border-radius: 10px; /* Define el radio de las esquinas del botón */
    width: 100%; /* Ancho del botón */
    margin-top: 30px; 
}

.buttons:hover, .buttons:active {
    --background: var(--ion-color-primary);
    --border-color: var(--ion-color-primary);
}

p {
    color: #98ca9f;
    font-size: 14px;
    margin-top: 0px;
}

.back:hover, .back:active {
    color: var(--ion-color-primary);
}