<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tus datos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="section-margin ion-text-center">
    <ion-label class="label-margin">Nombre Completo</ion-label>
    <ion-input class="input-margin" fill="solid" disabled="true" placeholder="{{currentUser?.name}}"></ion-input>
  </div>

  <div class="section ion-text-center">
    <ion-label class="label-margin">Fecha de nacimiento</ion-label>
    <ion-input class="input-margin" fill="solid" disabled="true" placeholder="{{currentUser?.date}}"></ion-input>
  </div>

  <div class="section ion-text-center">
    <ion-label class="label-margin">Dirección</ion-label>
    <ion-input class="input-margin" fill="solid" disabled="true" placeholder="{{currentUser?.address }}"></ion-input>
  </div>

  <div class="section ion-text-center">
    <ion-label class="label-margin">Contacto</ion-label>
    <ion-input class="input-margin" fill="solid" disabled="true" placeholder="{{currentUser?.contact?.name }}"></ion-input>
    <ion-input class="input-margin" fill="solid" disabled="true" placeholder="{{currentUser?.contact?.phone }}"></ion-input>
  </div>
</ion-content>

