/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

@import "@ionic/angular/css/palettes/dark.always.css"; 
@import "@ionic/angular/css/palettes/dark.class.css"; 
@import "@ionic/angular/css/palettes/dark.system.css";




* {
  --background:#FFFAF2;
  --color:#000100;
  --border-color: #8e8e93;
  font-family: Varela Round;
  --highlight-background: var(--ion-color-step-50); 
  --highlight-border-radius: 48px; 
  --fade-background-rgb: 255, 255, 255; 
  --ion-text-color: var(--ion-color-step-700); 
}
  
ion-tab-button {
  --color-selected: #000100; /* Color del texto del tab seleccionado */
  --color: #8e8e93; /* Color del texto del tab no seleccionado */
}

ion-toolbar {
  padding-left: 10px;
  --background: #B3E5F8;
}

.varela-round-regular {
  font-family: "Varela Round", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.custom-alert {
  .alert-wrapper {
    width: 90%; 
    max-width: 90%; 
  }

  .alert-title {
    color: #555558; 
  }

  .alert-message {
    color: #555558; 
  }
  
  .alert-button-group {    
    button.custom-alert-button {
      color:  #555558; 
      font-size: 16px;
    }

    button.custom-alert-button-eliminar {
      color:  #cc0000;
      font-size: 16px;
    }
  }  
}

ion-datetime {
  --background: var(--ion-color-step-50); 
  --background-rgb: 234, 244, 247;

  width: 100%;
  font-size: 20px;
  border-radius: 16px;
  box-shadow: rgba(var(--ion-color-sky-rgb), 0.5) 0px 10px 15px -3px; 

  /* Estilos para los elementos de la rueda */
  --wheel-highlight-background: var(--ion-color-sky-tint); /* Fondo resaltado */
  --wheel-highlight-border-radius: 48px; /* Radio de borde del fondo resaltado */
  --wheel-fade-background-rgb: 234, 244, 247; /* Fondo desvanecido */
}

ion-datetime::part(wheel-item) {
  color: var(--ion-color-step-200); /* Color de texto normal */
}

ion-datetime::part(wheel-item active) {
  color: var(--ion-color-step-50); /* Color de texto activo */
}

ion-datetime::part(calendar-day today) {
  background: none;
  border-color: var(--ion-color-step-400);
  color: var(--ion-color-step-700);
}

ion-datetime::part(calendar-day):focus {
  background: var(--ion-color-step-300);
  border-color: var(--ion-color-step-300);
  box-shadow: none;
}
